<nav class="navbar navbar-default navbarMenuWrapper">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2 navbarMenu">
            <ul class="nav navbar-nav">
            <li><a href="/">Home</a>
                {{#each menu.items}}
                    <li class="dropdown"><a href={{this.mainlink}}>{{this.title}}<b class="caret"></b></a>
                    {{#if this.subItems}}
                            <ul class="dropdown-menu">
                                {{#each this.subItems}}
                                    <li><a href={{this.subTitleLink}}>{{this.subTitle}}</a>
                                {{/each}}
                            </ul>
                    {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>
