<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px" >
	<form class="form-signin" role="form" data-toggle="validator">
		<input type="hidden" name="frm_referringUrl" value="{{referringUrl}}">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div class="form-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="email address" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		</div>
        {{#ifCond route '==' 'admin'}}
            <button class="btn btn-md btn-primary align-left" id="loginForm" name="action" value="Sign in" type="submit">Sign in</button>
            <button class="btn btn-md btn-primary" id="adminForgotPasword" name="action" value="Forgot password" type="submit">forgot password</button>
        {{/ifCond}}
        {{#ifCond route '==' 'customer'}}
            <button class="btn btn-lg btn-primary" id="customerLogin" name="action" value="Sign in" type="submit">Sign in</button>
            <button class="btn btn-lg btn-primary" id="customerForgotPasword" name="action" value="Forgot password" type="submit">forgot password</button>
        {{/ifCond}}
    </form>
</div>
